
.vscode/ipch/*
Debug
Release
figure_8_R.ppm
word.txt
CubeWorldLib.vcxproj.filters
CubeWorldLib.vcxproj.user
CubeWorldLib.vcxproj
CubeWorldLib.sln
cpp.out
cpp.o
main.o
ql.o
term.o.dSYM
ql.o.dSYM
*.o
ql.run